<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Chi tiết sản phẩm <th:block
		th:text="${sanpham.tenSanPham}"></th:block>
</title>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
<link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
<link rel="stylesheet" href="/assets/css/smoothproducts.css">
</head>
<body>
	<nav
		class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
		<div class="container">
			<a class="navbar-brand logo" th:href="@{/}">EBIKE</a>
			<button class="navbar-toggler" data-toggle="collapse"
				data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span><span
					class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/}">Home</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/sanpham}">Xe đạp điện</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/lienhe}">Liên hệ</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/giohang}">Giỏ hàng<i class="fa fa-shopping-cart"></i></a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/dangnhap}">Đăng nhập</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="page product-page">
	<section class="clean-block clean-product dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Chi tiết sản phẩm</h2>
				<p>Chi tiết - Sản phẩm</p>
			</div>
			<div class="block-content">
				<div class="product-info">
					<div class="row">
						<div class="col-md-6">
							<div class="gallery">
								<div class="sp-wrap">
									<a href="/assets/img/tech/default-bike.png"><img
										class="img-fluid d-block mx-auto"
										src="/assets/img/tech/image1.jpg"></a><a
										href="/assets/img/tech/image1.jpg"><img
										class="img-fluid d-block mx-auto"
										src="/assets/img/tech/image1.jpg"></a><a
										href="/assets/img/tech/image1.jpg"><img
										class="img-fluid d-block mx-auto"
										src="/assets/img/tech/image1.jpg"></a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="info">
								<h3 th:text="${sanpham.tenSanPham}"></h3>
								<div class="price">
									<h3 th:text="${sanpham.donGia} + VND"></h3>
								</div>
								<button class="btn btn-primary" type="button">
									<i class="icon-basket"></i>Thêm vào giỏ
								</button>
								<div class="summary">
									<p th:text="${sanpham.moTa}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clean-related-items">
					<h3>Sản phẩm tương tự</h3>
					<div class="items">
						<div class="row justify-content-center">
							<div class="col-sm-6 col-lg-4">
								<div class="clean-related-item">
									<div class="image">
										<a href="#"><img class="img-fluid d-block mx-auto"
											src="/assets/img/tech/defaut-bike.png"></a>
									</div>
									<div class="related-name">
										<a href="#">Lorem Ipsum dolor</a>
										<h4>#Pricce</h4>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4"></div>
							<div class="col-sm-6 col-lg-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</main>
	<footer class="page-footer dark">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h5>Get started</h5>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Sign up</a></li>
						<li><a href="#">Downloads</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>About us</h5>
					<ul>
						<li><a href="#">Company Information</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Reviews</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Support</h5>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Help desk</a></li>
						<li><a href="#">Forums</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Legal</h5>
					<ul>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2018 Copyright Text</p>
		</div>
	</footer>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="/assets/js/smoothproducts.min.js"></script>
	<script src="/assets/js/theme.js"></script>
</body>

</html>