<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
<div th:replace="/header :: header"></div>
</head>

<body>
<div th:replace="/header :: navbar"></div>
	<main class="page login-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Đăng Nhập</h2>
				<p>Đây là trang Đăng Nhập&nbsp;</p>
			</div>
			<form th:action="@{/dangky}" th:object="${taikhoan}" method="POST">
				<p th:if="${param.error}" class="error">Invalid email or
					password</p>
				<div class="form-group">
					<label for="username">Tên Đăng nhập</label><input
						class="form-control item" type="text" id="username"
						th:field="*{tenTaiKhoan}">
				</div>
				<div class="form-group">
					<label for="password">Mật khẩu</label><input class="form-control"
						type="password" id="password" th:field="*{matKhau}">
				</div>
				<div class="form-group">
					<label for="username">Họ và Tên</label><input
						class="form-control item" type="text" id="tenkhachhang"
						name="tenkhachhang">
				</div>
				<button class="btn btn-primary" type="submit">Dăng Ký</button>
				<button class="btn btn-light" type="reset">Nhập lại</button>
			</form>
		</div>
	</section>
	</main>
	<footer class="page-footer dark">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h5>Get started</h5>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Sign up</a></li>
						<li><a href="#">Downloads</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>About us</h5>
					<ul>
						<li><a href="#">Company Information</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Reviews</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Support</h5>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Help desk</a></li>
						<li><a href="#">Forums</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Legal</h5>
					<ul>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2018 Copyright Text</p>
		</div>
	</footer>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="/assets/js/smoothproducts.min.js"></script>
	<script src="/assets/js/theme.js"></script>
</body>

</html>