<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Quản lý - Sản phẩm</title>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
<link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
<link rel="stylesheet" href="/assets/css/smoothproducts.css">
</head>

<body>
	<nav
		class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
		<div class="container">
			<a class="navbar-brand logo" th:href="@{/}">EBIKE</a>
			<button class="navbar-toggler" data-toggle="collapse"
				data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span><span
					class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/}">Home</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/sanpham}">Xe đạp điện</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/lienhe}">Liên hệ</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/giohang}">Giỏ hàng<i class="fa fa-shopping-cart"></i></a></li>
					<li class="nav-item" role="presentation"><a class="nav-link"
						th:href="@{/dangnhap}">Đăng nhập</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<main class="page shopping-cart-page">
	<section class="clean-block clean-cart dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Quản lý Sản phẩm</h2>
				<p>Đây là trang quản lý sản phẩm.</p>
			</div>
			<div class="content">
				<div class="row no-gutters">
					<div class="col-md-12 col-lg-8">
						<div class="items">
							<div class="row">
								<div class="col">
									<div>
										<form class="form-inline mr-auto" target="_self">
											<div class="form-group">
												<label for="search-field">Tìm sản phẩm&nbsp;</label><input
													class="form-control search-field" type="search"
													name="search" id="search-field">
											</div>
											<button class="btn btn-primary" type="button">search</button>
										</form>
									</div>
								</div>
							</div>
							<div class="product">
								<div class="row justify-content-center align-items-center mt-3"
									th:each="sanpham : ${listSanPham}">
									<div class="col-md-3">
										<div class="product-image">
											<img class="img-fluid d-block mx-auto image"
												src="/assets/img/tech/default-bike.png">
										</div>
									</div>
									<div class="col-md-5 product-info">
										<a href="#" class="product-name"
											th:text="${sanpham.tenSanPham}"></a><a href="#"><i
											class="fa fa-edit"></i></a>
										<p class="text-black-50" th:text="${sanpham.maSanPham}"></p>
										<div class="product-specs">
											<div>
												<span>Mô tả:&nbsp;</span><span class="value"
													th:text="${sanpham.moTa}"></span>
											</div>
											<div>
												<span>Nhà sản xuất:&nbsp;</span><span class="value"
													th:text="${sanpham.nhaSanXuat.tenNhaSanXuat}"></span>
											</div>
											<div>
												<span>Năm sản xuất:&nbsp;</span><span class="value"
													th:text="${sanpham.namSanXuat}"></span>
											</div>
										</div>
									</div>
									<div class="col-6 col-md-2 quantity">
										<label class="d-none d-md-block" for="quantity">Số
											lượng tồn</label><input type="number" value="1" id="number"
											class="form-control quantity-input">
									</div>
									<div class="col-6 col-md-2 price">
										<span th:text="${sanpham.donGia}"></span>
									</div>
									<div class="col">
										<div class="row">
											<div class="col-auto ml-auto">
												<button class="btn btn-danger" type="button">Xóa</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<nav>
								<ul class="pagination">
									<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a
										class="page-link"
										th:href="@{/quanly/sanpham(page=${pageNumber})}"
										th:text=${pageNumber}></a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-auto col-md-12 col-lg-4">
						<div class="summary">
							<button class="btn btn-primary btn-block btn-sm" type="button"
								data-toggle="modal" data-target=".inputmodal">Thêm Sản
								Phẩm</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</main>
	<!-- Modal -->
	<div class="modal fade inputmodal" tabindex="-1" role="dialog"
		aria-labelledby="inputmodal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Nhập Sản phẩm</h5>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col">
								<form th:action="@{/sanpham}" th:object="${sanpham}" method="post">
									<div class="form-group">
										<label for="tenSanPham">Tên Sản phẩm</label> <input
											type="text" class="form-control" id="tenSanPham" th:field="">
									</div>
									<div class="form-group">
										<label for="moTa">Mô tả</label> <input type="text"
											class="form-control" id="moTa">
									</div>
									<div class="form-group">
										<label for="donGia">Đơn Giá</label> <input type="text"
											class="form-control" id="donGia">
									</div>
									<div class="form-group">
										<label for="soLuongTon">Số lượng</label> <input type="text"
											class="form-control" id="soLuongTon">
									</div>
									<div class="form-group">
										<label for="namSanXuat">Năm Sản xuất</label> <input
											type="number" class="form-control" id="namSanXuat">
									</div>
									<div class="form-group">
										<label for="maNhaSanXuat">Mã NSX</label> <input type="text"
											class="form-control" id="maNhaSanXuat">
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Lưu</button>
				</div>
			</div>

		</div>
	</div>
	<!-- ================== -->
	<footer class="page-footer dark">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h5>Get started</h5>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Sign up</a></li>
						<li><a href="#">Downloads</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>About us</h5>
					<ul>
						<li><a href="#">Company Information</a></li>
						<li><a href="#">Contact us</a></li>
						<li><a href="#">Reviews</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Support</h5>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Help desk</a></li>
						<li><a href="#">Forums</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Legal</h5>
					<ul>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2018 Copyright Text</p>
		</div>
	</footer>
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="/assets/js/smoothproducts.min.js"></script>
	<script src="/assets/js/theme.js"></script>
</body>

</html>